/* .primary-page {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
      ), url(../../public/img/example-car.jpg) no-repeat;
    background-position-y: -200px;
    background-size: contain;
} */